@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
    font-weight: 900;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
    font-weight: 800;

}
h4{
    font-size: 20px;
    color: #222;
    font-weight: 700;

}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0px 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
.body{
    width: 100%;
    scroll-behavior: smooth;
}
 /*-----------HEADER-----------*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;   
}
#navbar li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
   content: "";
   width: 30%;
   height: 2px;
   background: #088178;
   position: absolute;
   bottom: -4px;
   left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}


.star{
    color: #eac701;
}
#hero{
    position: relative;
    padding: 0px;
}
.carousel-item img{
    position: top 10% right 20%;
    height: 90vh;
}
.car-text{
    position: absolute;
    top: 28%;
    left: 5%;
}

#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}

/*---------FEATURE----------*/
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1, #category{
    text-align: center;
}
#product1 .pro-container, #category .cat-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro, #category .cat{
    position: relative;
    width: 23%;
    min-width: 280px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}
#category .cat{
    width: 30%;
    min-width: 320px;
    max-height: 280px;
    padding: 0px 0px;
}
#product1 .pro:hover, #category .cat:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 img, #category img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#product1 .pro .description, #category .cat .description{
    text-align: start;
    padding: 10px 0;
}
#category .cat .description{
    padding: 5px 0;
}
#product1 .pro .description span, #category .cat .description span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .description h5, #category .cat .description h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 650;
}
#product1 .pro .description i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .description h4, #category .cat .description h4{
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
    color: #088178;
}
#category .cat .description h4{
    padding-top: 3px;
   
}
#product1 .pro .cart, #category .cat .arrow{
    width: 40px;
    height: 40px;
    line-height: 40px;
     border-radius: 50px;
     background-color: #e8f6ea;
     color: #088178; 
     border: 1px solid #cce7d0;
     position: absolute;
     bottom: 20px;
     right: 20px; 
}
.arrow{
    right: 20px;
}

.cat{
    position: relative;
}
.description{
    position: absolute;
    bottom: 0px;
    left: 20px;
}

/*---------NEWSLETTERS-----------*/
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter .success{
    height: 50px;
    width: 150px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}

/*---------FOOTER-----------*/
.follow .icon a{
    text-decoration: none;
    color: #1a1a1a;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-direction: column;
}
footer .logo{
    margin-bottom: 30px;
}
img.logo{
    width: 14vw;
    min-width: 90px;
    max-width: 120px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    font-weight: 700;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #252c29;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
    width: 70%;
    
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}
footer .copywrite{
    width: 100%;
    text-align: center;
}

/*---------CART-------------*/

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url('../images/loading.gif') no-repeat center center;
    z-index: 9999;
} 
  
#cart{
    width: 100%;
}
#cart h3{
    text-align: center;
    padding: 15px 0px;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;

}
#cart table img{
    width: 70px;
}
#cart table thead {
    text-align: center;
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead th{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 18px 0px;
}
#cart table tbody tr td{
    padding: 15px;
}
#cart table tbody td{
    font-size: 14px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
.addToCart{
    margin-top: 10px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupen{
    width: 50%;
    margin-bottom: 30px;
}
#coupen h3, #subtotal h3{
    padding-bottom: 15px;
}
#coupen input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

/*-----Profile------*/
.col-lg-3{
     padding: 10px 0px; 
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.col-lg-9, .row, html{
    overflow-x: hidden;
    
}




/* all */


:root {
  --main-blue: #71b7e6;
  --main-purple: #9b59b6;
  --main-grey: #ccc;
  --sub-grey: #d9d9d9;
}


/* container and form */
.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 45px 0px;
  border-radius: 5px;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title span{
    font-size: 15px;
    color: #2874f0;
    margin-left: 10px;
}
.container .title span:hover{
    cursor: pointer;
}

.container .title::before {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 30px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  left: 0;
  bottom: 0;
}

.container form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
/* inside the form user details */
form .user__details .input__box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}


.user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.user__details .input__box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-grey);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user__details .input__box input:focus,
.user__details .input__box input:valid {
  border-color: var(--main-purple);
}

/* inside the form gender details */

form .gender__details .gender__title {
  font-size: 20px;
  font-weight: 500;
}

form .gender__details .category {
  display: flex;
  width: 55%;
  margin: 15px 0;
  justify-content: space-between;
}

.gender__details .category label {
  display: flex;
  align-items: center;
}

.gender__details .category .dot {
  height: 18px;
  width: 18px;
  background: var(--sub-grey);
  border-radius: 50%;
  margin: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three {
  border-color: var(--sub-grey);
  background: var(--main-purple);
}

form input[type="radio"] {
  display: none;
}

/* submit button */
form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  transition: all 0.3s ease;
}

form .button input:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}


.tab-content{
    width:500px;
}



/*----------MEDIA QUERY----------*/

@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #navbar.active{
        right: 0px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px ;
    }
    #product1 .pro-container, #category .cat-container{
        justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    }
    #newsletter .form{
        width: 70%;
    }
    form .gender__details .category {
        width: 100%;
      }
    
}
@media (max-width:477px){
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }
    
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro{
        width: 100%;
    }
    #newsletter{
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 100%;
    }
    footer{
        display: block;
    }
    /*---------cart------------*/
    #cart-add{
        flex-direction: column;
    }
    #coupen{
        width: 100%;
    }
    #subtotal{
        width: 100%;
        padding: 20px;
    }

    .container {
        max-width: 100%;
      }
    
      form .user__details .input__box {
        margin-bottom: 15px;
        width: 100%;
      }
    
      form .gender__details .category {
        width: 100%;
      }
      
    
    
    
    
   
}